*.pyc
build/
dist/
*.egg-info/

.coverage
.gitignore

articles/*/*.aux
articles/*/*.log
articles/*/*.pdf
articles/*/vc.tex
articles/*/*.bib
articles/*/*.out

*.fits
*.fits.gz
*.pkl

notebooks/.ipynb_checkpoints/

docs/build/

sandbox_*.py
